<style>
	.box { background: #4996AB}
    body { color:  #2B2B2B }
	p { font-size: 15px;
    	  color: #FFFFFF}
</style>

<div class="container-fluid">
    <h1>What's on Tap Today</h1>
    <br>
    </br>
	  <div class="row-fluid">
       <div class="span12 well well-large img-polaroid box">
        <% for s in @specials %>
		</br>
        <p>
        <%= s.drink %> at <%= link_to s.bar.name %>
        </p>
	    <%end%>
        </div>
    </div>  
    <h4>Sort by <%= sortable "bar_id" %></h4>
</div>
